# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build/output (se houver)
dist/
build/

# Variáveis de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Outros arquivos temporários
*.tmp
*.temp
.env

uploads/
